<style>
#galeria img{
    width: 100%;
    height: auto;
}
#galeria .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}
#galeria img:hover{
    border: 5px solid #f7f7f7;
}
.ejemploblur {
   -webkit-filter: blur(1px);
   -moz-filter: blur(1px);
   -o-filter: blur(1px);
   -ms-filter: blur(1px);
   filter: blur(1px);
}
</style>

<div class="container p-3">
    <div class="row">
        <div class="col-md-3 ">
            {{!-- DATOS USUARIO --}}
            <div class="card">
            <div class="card-header d-flex justify-content-between bg-dark text-white">
                <div class="text-center">
                    
                    <img src={{fotoPerfilCliente}} alt="/img/perfilbase.jpg" class="card-img-top mx-auto m-2 rounded-circle w-50">
                    
                </div>
            </div>
            <div class="card-body">
                
                <strong><i class="fa-sharp fa-solid fa-file-signature"></i> Nombre Completo</strong>
                <p class="text-muted">{{persona.nombre}}</p>
                <hr>
                
                <strong><i class="fa-solid fa-id-card"></i> Carnet Identidad</strong>
                <p class="text-muted">{{persona.ci}}</p>
                <hr>

                <strong><i class="fa-brands fa-whatsapp"></i> Telefono</strong>
                <p class="text-muted">{{persona.telefono}}</p>
                <hr>    
                
                <strong><i class="far fa-file-alt"></i> Note Important</strong>
                <p class="text-muted">DetalleActualizacionFto</p>

                
            </div>
            {{!-- DATOS USUARIO --}}
           </div> 
            {{!-- OPCIONES --}}
            <div class="container p-2">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h4><i class="fa fa-list"></i> Opciones</h4>
                    </div>
                    <div class="card-body">
                        <form action="/updateFotoCliente/{{persona.ci}}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <a href="" class="btn btn-success btn-block"> Editar Datos Personales</a>
                            </div>
                            <hr>  
                                     <div class="form-group">
                                        <strong> <i class="fa fa-upload"></i> Actualiza Foto Perfil</strong>
                                            <div class="custom-file ">
                                            <input type="file" name="updatefoto"  class="custom-file-input " id="inputGroupFile01">
                                            <label for="inputGroupFile01 " class="custom-file-label ">Subir Foto <i class="fa-solid fa-arrow-right"></i></label>
                                    </div>

                                     <div class="form-group p-2">
                                        <button type="submit" class="btn btn-success btn-block">Actualizar Foto Perfil </button>
                                    </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {{!-- OPCIONES --}}
        </div>
        <div class="col-md-9">
            <div class="container">
                <div class="card-columns">

                    {{!-- Tarejeta --}}
                                <section id="galeria" class="container">
                            {{#each FotosIa}}
                                    <div class="row-cols-xl-auto ">
                                        <div class="col-lg-4c card-img-top">
                                            <div class="">
                                                <img src={{url}} alt="Galeria Imagen" class="ejemploblur">
                                            </div>
                                        </div>
                                    </div>
                            {{/each}}    
                                </section>
                    {{!-- Tarejeta --}}

                </div>
            </div>
        </div>
    </div>
</div>
