<div class="container p-3">
    <div class="row">
        <div class="col-md-3 ">
            {{!-- DATOS USUARIO --}}
            <div class="card">
            <div class="card-header d-flex justify-content-between bg-dark text-white">
                <div class="text-center">
                    <img src="/img/perfilbase.jpg" alt="Logo Fazt" class="card-img-top mx-auto m-2 rounded-circle w-50">
                </div>
            </div>
            <div class="card-body">
                


                <strong><i class="fa-sharp fa-solid fa-file-signature"></i> Nombre Completo</strong>
                <p class="text-muted">{{persona.nombre}}</p>
                <hr>
                
                <strong><i class="fa-solid fa-id-card"></i> Carnet Identidad</strong>
                <p class="text-muted">{{persona.ci}}</p>
                <hr>

                <strong><i class="fa-brands fa-whatsapp"></i> Telefono</strong>
                <p class="text-muted">{{persona.telefono}}</p>
                <hr>    

                <strong><i class="fa-solid fa-icons"></i> Photo studio</strong>
                <p class="text-muted">{{fotografo.studio}}</p>
                <hr>    

                  
            </div>
            {{!-- DATOS USUARIO --}}
           </div> 
            {{!-- OPCIONES --}}
            <div class="container p-2">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h4><i class="fa fa-list"></i> Opciones</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <a href="" class="btn btn-warning btn-block"> Editar Datos Personales</a>
                        </div>
                        <div class="form-group">
                            <a href="/newphotos" class="btn  btn-primary btn-info btn-block"> <i class='far fa-images'> 
                        </i> Subir Fotos</a>
                        </div>
                        <div class="form-group">
                            <a href="/procesoFotosIa" class="btn   btn-success btn-block"> <i<i class="fa-light fa-microchip-ai"></i> Procesar IA </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {{!-- OPCIONES --}}
        <div class="col-md-9">
            <div class="container">
                <div class="card text-center">
                    
                    <table class="table-fixed table-hover table table-bordered table-dark ">
                        <thead class="text-center">
                            <tr style="width: 680px;">
                                        <th style="width: 100px;" scope="col">#</th>
                                        <th style="width: 680px;" scope="col"><i class="fa-solid fa-image"></i></i></th>
                                        <th style="width: 680px;" scope="col"><i class="fa-solid fa-people-roof"> Evento</i> </th>
                                        <th style="width: 680px;" scope="col"><i class="fa-solid fa-user-lock"> viewing privileges</i> </th>
                                        <th style="width: 680px;" scope="col"><i class="fa-solid fa-list">  Opciones</i> </th>
                            </tr>
                        </thead>
                         {{#each FotosDelFotografo}}
                                <tbody>
                                    <th class="">{{id}}</th>
                                    <th class="">{{nombre}}</th>
                                    <th>{{titulo}}</th>
                                    <th class="">
                                        Evento
                                        <a href="" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                                    </th>
                                    <th class="text-center">
                                        <a href="" data-toggle="modal" data-target="#exampleModal{{id}}" class="btn btn-success"><i class="fa-regular fa-eye"></i></i></a>
                                        <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                 <img src={{url}} alt="" class="card-img-top rounded">
                                            </div>
                                        </div> 
                                        <a href={{url}} class="btn btn-primary"><i class="fa-solid fa-file-arrow-down"></i></a>
                                        <a href="" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                                    </th>
                                </tbody>
                        {{/each }}
                    </table>
                    
                  
                    {{!-- Tarejeta --}}
                    {{!-- Tarejeta --}}
            </div>
        </div>
    </div>
</div>


